# Fichiers Python compilés
__pycache__/
*.pyc
*.pyo
*.pyd

# Dossiers Jupyter
.ipynb_checkpoints/

# Environnements virtuels
venv/
env/
*.env

# Logs, fichiers temporaires, système
*.log
.DS_Store
Thumbs.db

# Data (à ignorer seulement si volumineux)
# data/*.csv

# Résultats (garder ou ignorer si les images sont lourdes ou nombreuses)
# results/*.png
